# Dependências
node_modules/

# Builds
dist/
build/
.storybook-static/
.turbo/
.next/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Cache
.cache/
.tmp/

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.local

# Editor
.vscode/
.idea/
