.link {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
}

.link--default {
  color: var(--semantic-text-primary);
}

.link--primary {
  color: var(--semantic-primary);
}

.link--secondary {
  color: var(--semantic-text-secondary);
}

.link--underline-always {
  text-decoration: underline;
}

.link--underline-hover {
  text-decoration: none;
}

.link--underline-hover:hover {
  text-decoration: underline;
}

.link--underline-never {
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}