.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--semantic-background-tertiary);
  border-right: 1px solid var(--semantic-border-default);
}

.sidebar__logo {
  padding: 24px;
  border-bottom: 1px solid var(--semantic-border-default);
}

.sidebar__content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.sidebar__footer {
  padding: 16px;
  border-top: 1px solid var(--semantic-border-default);
}